@font-face {
  font-family: 'Eurostile';
  src: url('/eurostile-2/eurostile.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.uppertext {
  font-family: 'Eurostile', Poppins, system-ui, -apple-system, sans-serif;
}